@import url(https://webfontworld.github.io/Cafe24SsurroundAir/Cafe24SsurroundAir.css);

body,
button {
  font-family:  Cafe24SsurroundAir;
}

body {
  height: 100vh;
  color: #464646;
  font-weight: 900;
  background-image: url(../../public/images/skybg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.WeatherWrap {
  width: 60%;
  padding: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: .5rem;
  line-height: 1.8rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.WeatherBox {
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 20px;
}
.WeatherBox>div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  transform: translateY(4px);
}
.WeatherBox h3 {
  color: white;
  font-size: 2rem;
}
.WeatherBox>h3:first-child {
  width: 30%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.WeatherButton {
  display: flex;
  justify-content: space-around;
}

button {
  border-radius: 10px;
  border: none;
  padding: 1rem;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  background-color: #a8cff0;
  transition: .25s;
  outline: none;
  text-transform: capitalize;
}

button:hover {
  background-color: #a9d7fc;
}
.GridLoader {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .WeatherBox>div {
    flex-direction: column;
  }
  .WeatherButton {
    flex-direction: column;
    gap: 15px;
  }
  .WeatherBox>h3:first-child {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .WeatherWrap {
    padding: 3rem;
  }
  .WeatherBox h3 {
    font-size: 1.5rem;
  }
}